@use '../../../scss/Foundation/mixin';

.c-skill__icon__image--retouch{
    background:url(./img/retouch-icon.png);
    width: clamp(50px,calc(70/1440*100vw),70px);
    height: clamp(50px,calc(70/1440*100vw),70px);
    background-size:cover;
    @include mixin.mq(sp){
        width:max(calc(50/375*100vw),50px);
        height:max(calc(50/375*100vw),50px);
    }
}