@use '../../../scss/Foundation/mixin';

.c-skill__icon__image--responsive{
    background:url(./img/responsive-icon.png);
    width: max(calc(70/1440*100vw),50px);
    height: max(calc(70/1440*100vw),50px);
    background-size:cover;
    @include mixin.mq(sp){
        width:max(calc(50/375*100vw),50px);
        height:max(calc(50/375*100vw),50px);
    }
}