@use '../../Foundation/vars' as va;
@use '../../../scss/Foundation/mixin';

.c-works__card__role{
    font-family: va.$font-base-English;
    font-weight: bold;
    font-style: italic;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #E0E0E0;
    position:absolute;
    //線の太さ分内側に
    right:0px;
    bottom:0px;
    padding:calc(16/1440*100vw);
    color:#000;
    @include mixin.mq(sp){
        padding:calc(16/375*100vw);
    }
}