@use '../../Foundation/vars' as va;
@use '../../../scss/Foundation/mixin';

.c-works__role{
    font-family: va.$font-base-English;
    font-size:max(calc(16/1440*100vw),16px);
    font-weight: bold;
    font-style: italic;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #E0E0E0;
    padding:max(calc(16/1440*100vw),16px);
    font-weight: 500;
    @include mixin.mq(sp){
        font-size:calc(16/375*100vw);
        display: inline-block;
        padding:calc(8/375*100vw);
        //margin-bottom:calc(80/375*100vw);
    }
}