@use '../../../scss/Foundation/mixin';

#breadcrumb{
    display: none;
    @include mixin.mq(tb){
        display: block;
        & > ul{
            display: flex;
            padding:0;
        }
    }
}