@use '../../../scss/Foundation/mixin';

.p-footer__form__textarea{
    width:max(calc(520/1440*100vw),520px);
    height: max(calc(193/1440*100vw),193px);
    margin-bottom:max(calc(72/1440*100vw),72px);
    background: #fff;
    @include mixin.mq(sp){
        width:calc(320/375*100vw);
        margin-bottom:calc(40/375*100vw);
    }
}