@use '../../../scss/Foundation/mixin';

.p-footer__text__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mixin.mq(sp){
        margin-bottom:calc(8/375*100vw);
    }
}