@use "../../Foundation/vars" as va;
@use '../../../scss/Foundation/mixin';

.p-footer__form__button{
    font-family: va.$font-base-Japanese;
    font-size:calc(24/1440*100vw);
    padding: calc(8/1440*100vw) calc(40/1440*100vw);
    background:#fff;
    border-radius: 20px;
    @include mixin.mq(sp){
        display: block;
        font-size:calc(16/375*100vw);
        padding: calc(8/375*100vw) calc(40/375*100vw);
        margin-bottom:calc(80/375*100vw);
    }
}