@use '../../../scss/Foundation/mixin';

.p-footer__form__input--company{
    width:320px;
    height: 30px;
    margin-bottom:24px;
    background:#fff;
    display: block;
    @include mixin.mq(sp){
        width:calc(320/375*100vw);
        margin-bottom:calc(32/375*100vw);
    }
}