@use "../../Foundation/vars" as va;

.p-header__breadcrumb--current{
    color:va.$main-color;
    //リンクに見えるためアンダーラインはなしに
    //text-decoration: underline;
    font-family: va.$font-base-English;
    font-size: max(calc(20/1440*100vw),18px);
    white-space: nowrap;
}