@use '../../Foundation/mixin';

.p-header__nav{
    position:absolute;
    //top: 80px;
    //left: 0;
    //right: 0;
    background-color: #fff;
    @include mixin.mq(sp){
        display:none;
        position: static;
        
    }
}

//ハンバーガーメニューのボタンを押したとき
.p-header__nav.open{
        display: block;
    }