@use "../../Foundation/vars" as va;

.p-header__breadcrumb--home{
    font-family: va.$font-base-English;
    font-size: max(calc(20/1440*100vw),18px);
    white-space: nowrap;
    margin-right:calc(8/1440*100vw);
    font-weight: 500;
    &:visited{
        color:#000;
    }
}