@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-main-visual__text--English{
    font-family: va.$font-base-English;
    font-size: calc(20/1440*100vw);
    @include mixin.mq(sp){
        display: none;
    }
}