@use '../../../scss/Foundation/mixin';

.p-profile__heading__comment__wrapper{
    @include mixin.mq(sp){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include mixin.mq(tb){
        display: none;
    }
    @include mixin.mq(pc){
        display: block;
    }
}