@use '../../../scss/Foundation/mixin';

.p-profile__image{
    width:calc(480/1440*100vw);
    height:calc(488/1440*100vw);
    //max-width: 560px;
    //max-height: 560px;
    border:10px solid #08144B;
    border-radius: 100px;
    @include mixin.mq(tb){
        width:calc(400/1023*100vw);
        height: calc(400/1023*100vw);
        max-width: none;
        max-height: none;
    }
    @include mixin.mq(sp){
        width:calc(343/375*100vw);
        height:calc(343/375*100vw);
        margin-bottom:calc(24/375*100vw);
        max-width: none;
        max-height: none;
       }
}