@use '../../../scss/Foundation/mixin';

.p-profile__image--lower-page{
    width:calc(489/1440*100vw);
    height: calc(647/1440*100vw);
    border: 10px solid #08144B;;
    border-radius: 100px;
    margin-bottom:calc(24/1440*100vw);
    object-fit: cover;
    @include mixin.mq(tb){
        width:calc(400/1023*100vw);
        height:calc(450/1023*100vw)
    }
    @include mixin.mq(sp){
        width:calc(343/375*100vw);
        height:calc(489/375*100vw);
        margin-bottom:calc(40/375*100vw);
    }
}