@use '../../Foundation/vars' as va;
@use '../../../scss/Foundation/mixin';

.p-profile__name--lower-page{
    font-family: va.$font-base-English;
    font-size: max(calc(24/1440*100vw),20px);
    padding-top: calc(16/1440*100vw);
    @include mixin.mq(tb){
        font-size:max(calc(24/1023*100vw),20px);
        vertical-align: baseline;
        display: inline-block;
        margin-left: calc(24/1023*100vw);
    }
    @include mixin.mq(sp){
        font-size:calc(18/375*100vw);
        padding-top:calc(16/375*100vw);
        //display: inline-block;
        vertical-align: top;
    }
}