@use '../../../scss/Foundation/mixin';

.p-profile__container--lower-page{
    display: flex;
    justify-content: space-between;
    margin-bottom:calc(120/1440*100vw);
    @include mixin.mq(sp){
        display: block;
    }
}