@use '../../../scss/Foundation/mixin';

.p-profile__infomation{
    width: calc(660/1440*100vw);
    border-top: 1px #000 solid;
    border-bottom: 1px #000 solid;
    @include mixin.mq(tb){
        //width:calc(450/1023*100vw);
        display: none;
    }
    @include mixin.mq(sp){
        display: none;
    }
}