@use '../../Foundation/vars' as va;
@use '../../../scss/Foundation/mixin';

.p-profile__occupation--lower-page{
    font-family: va.$font-base-Japanese;
    font-size: max(calc(24/1440*100vw),20px);
    padding-top: calc(16/1440*100vw);
    @include mixin.mq(sp){
        font-size:max(calc(18/375*100vw),18px);
        padding:0;
        //display: inline-block;
        //position:relative;
        //right:calc(7/375*100vw);
    }
}