@use '../../Foundation/vars' as va;
@use '../../../scss/Foundation/mixin';

.p-profile__career--top{
    font-family: va.$font-base-Japanese;
    font-size: calc(18/1440*100vw);
    margin-bottom:calc(8/1440*100vw);
    max-width: 320px;
    @include mixin.mq(sp){
        font-size:max(calc(16/375*100vw),16px);
        margin-bottom:calc(16/375*100vw);
        max-width:none;
    }
}