@use '../../../scss/Foundation/mixin';

.p-profile__about-me__text__wrapper{
    padding: calc(16/1440*100vw) 0;
    border-top: 1px #000 solid;
    border-bottom: 1px #000 solid;
    @include mixin.mq(sp){
        padding:calc(16/375*100vw) 0;
    }
}