@use '../../Foundation/mixin';
@use '../../Foundation/vars' as va;

.p-profile__heading2--English{
    color: va.$main-color;
    font-family: va.$font-base-English;
    font-size:calc(56/1440*100vw);
    margin-bottom:calc(8/1440*100vw);
    @include mixin.mq(sp){
        font-size:calc(48/375*100vw);
        margin-bottom:calc(24/375*100vw);
    }
}