@use '../../Foundation/vars' as va;
@use '../../../scss/Foundation/mixin';

.p-profile__link--sp{
    display: none;
    font-family: va.$font-base-Japanese;
    color: va.$main-color;
    font-size:max(calc(14/375*100vw),14px);
    //font-size:calc(16/1440*100vw);
    font-weight: bold;
    border:1px solid;
    border-radius: 30px;
    //display: block;
    //height:48px;
    //height: calc(48/1440*100vw);
    height: max(calc(40/375*100vw),48px);
    //padding:12px 0;
    padding:calc(12/375*100vw) 0;
    text-align: center;
    //矢印配置のため
    position:relative;
   //a下線
   @include mixin.mq(sp){
    display: block;
   } 
}