@use '../../Foundation/mixin';

.p-profile__contents__container{
    display: flex;
    order: 1;
    width:calc(920/1440*100vw);
    padding-bottom:calc(40/1440*100vw);
    @include mixin.mq(sp){
        flex-direction: column;
        width: auto;
    }
}