@use '../../../scss/Foundation/mixin';

.p-profile__heading__comment__shadow{
    width: calc(292/1440*100vw);
    height: calc(35/1440*100vw);
    left: max(calc(50/1440*100vw),50px);
    top: max(calc(65/1440*100vw),65px);
    background: #D9D9D9;
    margin-left: calc(40/1440*100vw);
    margin-top: max(calc(-15/1440*100vw),-15px);
    @include mixin.mq(tb){
        width: calc(242/1023*100vw);
        height:calc(35/1023*100vw);
        margin-left:calc(30/1023*100vw);
        top:calc(65/1023*100vw);
    }
    @include mixin.mq(sp){
        width:calc(240/375*100vw);
        height:calc(40/375*100vw);
        //ここの値は調整
        margin-left:calc(50/375*100vw);
        margin-top: calc(-20/375*100vw);
    }
}