@use '../../../scss/Foundation/mixin';

.p-skill__wrapper--coding{
    display: flex;
    justify-content: space-between;
    @include mixin.mq(sp){
        flex-direction: column;
        width: calc(343/375*100vw);
    }
}