@use '../../Foundation/vars' as va;
@use '../../../scss/Foundation/mixin';

.p-skill__text__item__wrapper{
    background: va.$main-color;
    padding:calc(36/1440*100vw);
    border-radius: 30px;
    @include mixin.mq(sp){
        padding:calc(32/375*100vw) calc(16/375*100vw);
        margin-bottom:calc(16/375*100vw);
    }
}