@use '../../Foundation/vars' as va;
@use '../../../scss/Foundation/mixin';

.p-skill__heading2--English{
    color: va.$main-color;
    font-family: va.$font-base-English;
    font-size:calc(56/1440*100vw);
    margin-bottom:calc(8/1440*100vw)8px;
    font-weight: 400;
    @include mixin.mq(tb){
        font-size:calc(56/1023*100vw);
        margin-bottom:calc(8/1023*100vw);
    }
    @include mixin.mq(sp){
        font-size:max(calc(48/375*100vw),48px);
        margin-bottom:calc(16/375*100vw);
    }
}