@use '../../../scss/Foundation/mixin';

.p-works__card__container--1st{
    width:calc(920/1440*100vw);
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:calc(40/1440*100vw);
    margin-bottom:calc(56/1440*100vw);
    @include mixin.mq(tb){
        gap:calc(67/1023*100vw);
    }
    @include mixin.mq(sp){
        display: block;
        width:calc(343/375*100vw);
    }
}