@use '../../../scss/Foundation/mixin';

.p-works__design__container{
    display:flex;
    justify-content: space-between;
    margin-bottom:calc(120/1440*100vw);
    @include mixin.mq(sp){
        display: block;
    }
}