@use '../../../scss/Foundation/mixin';

.p-works__thumbnail--square-design{
    display: block;
    margin:0 auto;
    object-fit: cover;
    width:calc(480/1440*100vw);
    height:calc(480/1440*100vw);
    @include mixin.mq(sp){
        width: calc(343/375*100vw);
        height: calc(343/375*100vw);
    }
}