@use '../../../scss/Foundation/mixin';

.p-works__thumbnail__box--web-site{
    width:calc(720/1440*100vw);
    height:calc(588/1440*100vw);
    background: #D9D9D9;
    margin-left:calc(-236/1440*100vw);
    margin-top: calc(-524/1440*100vw);
    margin-bottom:calc(120/1440*100vw);
    @include mixin.mq(sp){
        width:calc(215/375*100vw);
        height:calc(228/375*100vw);
        margin-top:calc(-204/375*100vw);
        margin-left:calc(0/375*100vw);
    }
}