@use '../../../scss/Foundation/mixin';

.p-works__heading3__lower-page__wrapper--web-site{
    display: flex;
    margin-bottom:calc(32/1440*100vw);
    align-items: center;
    @include mixin.mq(sp){
        display: block;
        margin-bottom:calc(80/375*100vw);
    }
}