@use '../../../scss/Foundation/mixin';

.p-works__thumbnail--RaiseTech-google-banner{
    display: flex;
    object-fit: cover;
    width:calc(750/1440*100vw);
    height:calc(375/1440*100vw);
    @include mixin.mq(sp){
        width:calc(343/375*100vw);
        height:calc(180/375*100vw);
    }
}